body{
    background-color: black;
    border: 5px groove blueviolet;
}
h1,h2{
    color: wheat;
}
h3{
    color: rgb(200, 107, 53);
}
pre{
    color: rgb(47, 231, 185);
    font-size: 20px;
}
p{
    color: wheat;
    font-size: 20px;
}

#main {
    display: flex;
    flex-direction: row;
  }
  
#main div {
    width: 100px;
    margin: 10px;
    width: 50px;
    height: 50px;
    line-height: 75px;
    text-align: center;
  }

#clock{
    color: aliceblue;
}


